main{
    width: 100vw;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
}

#editar input:first-child{
    margin-top: 3vh;
}

#editar .inputs-edit{
    width: 80vw;
    margin: auto;
}

.administrar{
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 5vh auto;
    
}

.administrar a{
    margin-bottom: 3vh;
    background-color: #ea5a14;
    width: 80%;
    aspect-ratio: 1/1;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: var(--sombra);

}

.administrar a p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: white;
    width: 100%;
    text-align: center;
    height: 3vh;
    width: 100%;
    font: normal bold 4vw Roboto;
    color: white;
    text-align: center;
    padding: 6vw;
    border-radius: 0 0 10px 10px;
}



.administrar img{
    margin: 10% auto;
    display: flex;
    width: 60%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

form{
    margin-bottom: 5vh !important;
}