<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro anunciante Muvall</title>
    <link rel="stylesheet" href="css/cabeçalho-rodape.css">
    <link rel="stylesheet" href="css/login-cadastro.css">
    <link rel="stylesheet" href="css/cadastro-anunciante.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="js/notify.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="js/script.js" defer></script>    
    <script src="js/image-preview.js" defer></script>
    <script src="js/validacao.js" defer></script>
</head>
<body>
<header>
    <a id="topimg" href="/" aria-label="logo"><img src="imagem/LogoMuvall.png" alt="Logo da empresa MUVALL"
            rel="prev"></a>

    <nav>
        <div id="menu-container">

            <div></div>
            <div></div>
            <div></div>


            <ul id="menu-items" class="NaoPropagar">
                <img src="imagem/delete.png" alt="Fechar" id="close">
                <li class="NaoPropagar"><a href="perfil" aria-label="Perfil" rel="next">Minha conta</a></li>
                <li class="NaoPropagar"><a href="anunciar">Anuncie</a></li>
                <li class="NaoPropagar"><a href="faleConosco" aria-label="Fale conosco" rel="next">Fale Conosco</a></li>
                <li class="NaoPropagar"><a href="login">Entre</a></li>
                <li class="NaoPropagar"><a href="cadastro">Cadastre-se</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <h1>Cadastro</h1><hr>
    <form action="cadastro" method="post">
       <input type="email" aria-label="E-mail" placeholder="Email:" required>
       <input type="password" aria-label="Senha" placeholder="Senha:" minlength="8" required id="password">
        <aside>
            <ul>
                <li> Mais de 8 caracteres</li>
                <li>Letras maiúsculas</li>
                <li>Letras minúscuilas</li>
            <li>Números</li>
            <li>Símbolos</li>
            </ul>
        </aside>
       <input type="text" aria-label="CNPJ" placeholder="CNPJ:" required id="CNPJ">
       <input type="text" aria-label="Nome da Empresa" placeholder="Nome da Empresa:" required>
       <div id="boxLogo">
           <label for="Logo" class="addLogo"><img src="imagem/botao-adicionar.png" alt="Botão para adicionar Logo">Logo</label>
           <input type="file" aria-label="Logo" required name="Logo" id="Logo" max="1" placeholder="Logo">
       </div>

       <button type="button" id="cadastrar-bttn">Continuar</button>
    </form>
</main>
    <footer>
        <img src="imagem/LogoMuvall.png" alt="Logo MUVall">
        <a href="faleConosco">Fale conosco</a>
        <div id="cadastro-rodape">
            <h2>Cadastro</h2>
            <ul>
                <li><a href="cadastro" rel="next">Usuário</a></li>
                <li><a href="cadastro-anunciante" rel="next">Anunciante</a></li>
            </ul>
        </div>
        <div id="redesSociais">
            <h2>Redes sociais</h2>
            <a href="https://instagram.com"><img src="imagem/instagram.png" alt="Logo Instagram" target="_blank" rel="external"></a>
            <a href="https://instagram.com"><img src="imagem/linkedin.png" alt="Logo Facebook" target="_blank" rel="external"></a>
        </div>
    </footer>
    <script>
        $("#CNPJ").mask("99.999.999/9999-99");
        $("#Telefone").mask("(99) 99999-99999")
        $("#CEP").mask("99999-999")
        $("#CPF").mask("999.999.999-99")
        $("#data").mask("99/99/9999")
    </script>
</body>
</html>