<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver mais</title>
    <link rel="stylesheet" href="css/cabeçalho-rodape.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/descservico.css">
    <script src="js/slider.js" defer></script>
    <script src="js/script.js" defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css"/>
      <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
      <script src="../../js/notify.js"></script>
</head>

<body>
    <header>
        <a id="topimg" href="/" aria-label="logo"><img src="imagem/LogoMuvall.png"alt="Logo da empresa MUVALL" rel="prev"></a>

        <nav>
            <div id="menu-container">

                <div></div>
                <div></div>
                <div></div>


                <img src="imagem/delete.png" alt="Fechar" id="close">
                <ul id="menu-items" class="NaoPropagar">
                    <li class="NaoPropagar"><a href="perfilUsuario" aria-label="Perfil" rel="next">Minha conta</a></li>
                    <li class="NaoPropagar"><a href="anunciar">Anuncie</a></li>
                    <li class="NaoPropagar"><a href="faleConosco" aria-label="Fale conosco" rel="next">Fale Conosco</a></li>
                    <li class="NaoPropagar"><a href="login">Entre</a></li>
                    <li class="NaoPropagar"><a href="cadastro">Cadastre-se</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="larguraPadrao">
        <div id="barraPesquisa">
            <input type="search" placeholder="Pesquisar">
            <button>Buscar</button>
        </div>
    </div>
    <main>
        <section class="container imgFull">
            <button class="arrow-left control" aria-label="Previous Image"><img src="imagem/arrow-left.svg" alt="Seta Voltar"></button>
            <button class="arrow-right control" aria-label="Seta avançar"><img src="imagem/arrow-left.svg" alt=""></button>
            <div class="gallery-wrapper">
                <div class="gallery">
                    <img src="imagem/caminhaoslider1.jpeg" alt="Beach Images" class="item current-item">
                    <img src="imagem/caminhaoslider2.jpeg" alt="Animal Images" class="item">
                    <img src="imagem/caminhaoslider3.jpeg" alt="Animal Images" class="item">
            </div>
        </section>
        <div class="larguraPadrao">
            <section class="valorServ">
                <h1>Título Serviço</h1>
                <aside>Por Nome da Empresa</aside>
                <aside>Publicado em --/--/--</aside>
                <div>
                    <p>R$ 300,00/Mês</p><aside>Sujeito a alteração conforme localização*</aside>
                </div>
            </section>
            <section class="infoPadrao descricao">
                <h2>Descrição: </h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sit dolores nam, nisi a quae dignissimos, tempore aspernatur magnam eligendi, nobis atque molestias enim exercitationem sunt possimus rem similique laboriosam.</p>
                <aside id="descCompleta">Ver descrição completa</aside>
            </section>
            <section class="infoPadrao caracteristicas">
                <h2>Características: </h2>
                <h3>Modelo:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <h3>Motorista:</h3>
                <p>------ -------</p>
                <h3>Capacidade:</h3>
                <p>--</p>
                <h3>Região:</h3>
                <p>SP-Sorocaba</p>
            </section>
            <section class="infoPadrao avalAnuncio">
                <h2>Avaliações:</h2>
                <div class="avaliacao">
                      <div>
                        <p>(20) Ótimo</p><div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                      </div>
                      <div>
                        <p>(52) Bom</p><div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                        </div>
                      </div>
                      <div>
                        <p>(0) Regular</p><div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                        </div>
                      </div>
                      <div>
                        <p>(1) Ruim</p><div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                        </div>
                      </div>
                      <div>
                        <p>(0) Péssimo</p><div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                        </div>
                      </div>
                      <div class="acessoAvaliacoes"> <a href="avaliar">Avaliar ></a></div>
                  </div>

                  <div class="txt-ava">
                    <div>
                        <h3>usuário</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ipsa laboriosam, praesentium a excepturi, voluptatum porro sequi deleniti</p>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                        </div>
                    </div>
                    <div>
                        <h3>usuário</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ipsa laboriosam, praesentium a excepturi, voluptatum porro sequi deleniti</p>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                        </div>
                    </div>
                    <div>
                        <h3>usuário</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ipsa laboriosam, praesentium a excepturi, voluptatum porro sequi deleniti</p>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                            <i class="fa-solid fa-star no-star"></i>
                        </div>
                    </div>
                    <a href="#">Ver mais avaliações ></a>
                  </div>
            <section class="infoPadrao contratar">
                <a href="form_contratacao">Solicitar Contratação</a>
            </section>
        </div>
    </main>
    <footer>
        <img src="imagem/LogoMuvall.png" alt="Logo MUVall">
        <a href="faleConosco">Fale conosco</a>
        <div id="cadastro-rodape">
            <h2>Cadastro</h2>
            <ul>
                <li><a href="cadastro" rel="next">Usuário</a></li>
                <li><a href="cadastro-anunciante" rel="next">Anunciante</a></li>
            </ul>
        </div>
        <div id="redesSociais">
            <h2>Redes sociais</h2>
            <a href="https://instagram.com"><img src="imagem/instagram.png" alt="Logo Instagram" target="_blank" rel="external"></a>
            <a href="https://instagram.com"><img src="imagem/linkedin.png" alt="Logo Facebook" target="_blank" rel="external"></a>
        </div>
    </footer>
    </body>
