<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
    <link rel="stylesheet" href="css/login-cadastro.css">
    <link rel="stylesheet" href="css/cabeçalho-rodape.css">
</head>
<body>
    <header>
        <a id="topimg" href="/" aria-label="logo"><img src="imagem/LogoMuvall.png"alt="Logo da empresa MUVALL" rel="prev"></a>

        <nav>
            <div id="menu-container">

                <div></div>
                <div></div>
                <div></div>


                <ul id="menu-items">
                    <img src="imagem/delete.png" alt="">
                    <li><a href="perfil" aria-label="Perfil" rel="next">Minha conta</a></li>
                    <li><a href="login" aria-label="Login" rel="next">Login</a></li>
                    <li><a href="#" aria-label="Fale conosco" rel="next">Fale Conosco</a></li>
                    <li><a href="lista-de-servicos" aria-label="Fale conosco" rel="next">Lista de Serviços</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <h2>Pagamento</h2><hr>
        <form action="" method="post">
           <input type="text" aria-label="Titular do Cartão" required maxlength="100" minlength="3">
           <input type="number" aria-label="Número do Cartão" maxlength="16" minlength="13" required>
           <input type="number" aria-label="CVV" required maxlength="3">
           <input type="date" aria-label="Expira em:" required>

           <button type="submit">Continuar</button>
        </form>
    </main>
    <footer>
        <img src="imagem/LogoMuvall.png" alt="Logo MUVall">
        <a href="">Fale conosco</a>
        <div id="cadastro-rodape">
            <h2>Cadastro</h2>
            <ul>
                <li><a href="cadastro" rel="next">Usuário</a></li>
                <li><a href="cadastro-anunciante" rel="next">Anunciante</a></li>
            </ul>
        </div>
        <div id="redesSociais">
            <h2>Redes sociais</h2>
            <a href="https://instagram.com"><img src="imagem/instagram.png" alt="Logo Instagram" target="_blank" rel="external"></a>
            <a href="https://instagram.com"><img src="imagem/linkedin.png" alt="Logo Facebook" target="_blank" rel="external"></a>
        </div>
    </footer>
    <script src="js/script.js"></script>
    <script src="js/cadastro.js"></script>
</body>
</body>
</html>