@media only screen and (max-width: 480px) {
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    main h2{
        color: #EA5A14;
        font-weight: bold;
        font-size: xx-large;
        grid-column-start: 2;
        margin: 0;
    }
    form{
        padding: 10px;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 15vw 15vw 15vw 10vw;
    }
    input{
        box-shadow: 2px 2px 4px #1a1a1a35;
        padding: 10px;
        border: solid #EA5A14 2px;
        border-radius: 5px;
    }
    button#login-bttn{
        grid-row-start: 6;
        grid-column-start: 2;
        margin: 0 auto;
        width: 240px;
        height: 50px;
        border: 0;
        background-color: #EA5A14;
        color: white;
        font-weight: 900;
        border-radius: 5px;
        box-shadow: 2px 2px 4px #1a1a1a35;
    }
    input#email{
        height: 5vw;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    input#senha{
        height: 5vw;
        grid-column-start: 2;
        grid-row-start: 3;
    }
    hr{
        margin: 0 auto;
        width: 76.5vw;
        height: 0.3vw;
        background-color: black;
        grid-column-start: 2;
        grid-row-start: 2;
        position: relative;
        bottom: 7vw;
        border: 0;
    }
    
    footer{
        background-color: black;
        height: 140px;
        padding: 20px;
       }
    
       footer a{
        text-decoration: none;
        color: white;
        position: absolute;
        margin-top: 6px;
        font-size: 15px;
       }
       footer p{
        color: white;
        font-size: 13px;
       }
       footer img{
        width: 114px;
        margin-left: -5px;
       }
    
       footer :last-child{
        position: absolute;
        margin-top: 30px;
        font-size: 17px;
       }
}